* {
    font-family: 'Roboto', sans-serif;
}

ol.items{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

legend{
    text-align: center;
}

div.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}